# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# Directory for uploaded files


# Database
*.sqlite
*.db

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Coverage directory for testing
coverage/

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# Debugger settings (optional, depending on your use)
*.launch
*.code-workspace
